.container {
    justify-content: center;
    background-color: chartreuse;
    border-radius: 2px;
    height: 100px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: large;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.header{
    background-color: aqua;
    border: 2px solid black;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    font-size: medium;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-right: 10px;
    size: large;

}
.timetable{
    display: flex;
}
.monday{
    background-color: lightblue;
    border: 2px solid black;
    height: 400px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
}
.tuesday{
    background-color: lightpink;
    border: 2px solid black;
    height: 400px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
}
.wednesday{
    background-color: lightgreen;
    border: 2px solid black;
    height: 400px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
}
.thursday{
    background-color: lightyellow;
    border: 2px solid black;
    height: 400px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
}
.friday{
    background-color: lightgray;
    border: 2px solid black;
    height: 400px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
}
.saturday{
    background-color: lightcoral;
    border: 2px solid black;
    height: 400px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
}
.sunday{
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    height: 400px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
}